// color
$--color-primary: #091D5D;
$--color-secondary: #5CE1E6;
$--color-info: #5CE1E6;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";